@media only screen and (max-width: 600px) {
    .social {
        margin-top: 10%;
    }
}

@media only screen and (min-width: 600px) {
    .social {
        margin-top: 3%;
    }
}

.social {
    position: absolute;
    width: auto;
    text-align: center;
    transform: translateY(-50%);
}

.social .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: auto;
    height: auto;
    border-radius: auto;
    border: 2px dashed white;
    background-clip: content-box;
    padding: 10px;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
}

.social .link span {
    display: block;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}

.social .link:hover {
    color: white;
    transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
    background-color: tomato;
    color: tomato;
}

.social .link.twitter {
    background-color: #00ACEE;
    color: #00ACEE;
}

.social .link.facebook {
    background-color: #3B5998;
    color: #3B5998;
}

.shadow-sm:hover {
    transition: all 0.2s linear;
    transform: scale(1.1);
}